[access]
	inheritFrom = Private-Projects
[submit]
[access "refs/*"]
	owner = group Kvasir
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group Kvasir
	label-Verified = -1..+1 group Kvasir
	push = group Kvasir
	read = group Kvasir
	rebase = group Kvasir
	removeReviewer = group Kvasir
	submit = group Kvasir
[access "refs/heads/*"]
	create = group Kvasir
	push = +force group Kvasir
	pushMerge = group Kvasir
	read = group Kvasir
[access "refs/tags/*"]
	push = group Kvasir
	push = +force group Kvasir
