[access]
	inheritFrom = Private-Projects
[submit]
[access "refs/*"]
	owner = group Kvasir
	owner = group user/Cian McGriskin (CianMcGriskin)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group Kvasir
	label-Code-Review = -2..+2 group user/Cian McGriskin (CianMcGriskin)
	label-Verified = -1..+1 group Kvasir
	label-Verified = -1..+1 group user/Cian McGriskin (CianMcGriskin)
	push = group Kvasir
	push = group user/Cian McGriskin (CianMcGriskin)
	read = group Kvasir
	read = group user/Cian McGriskin (CianMcGriskin)
	rebase = group Kvasir
	rebase = group user/Cian McGriskin (CianMcGriskin)
	removeReviewer = group Kvasir
	removeReviewer = group user/Cian McGriskin (CianMcGriskin)
	submit = group Kvasir
	submit = group user/Cian McGriskin (CianMcGriskin)
[access "refs/heads/*"]
	create = group Kvasir
	create = group user/Cian McGriskin (CianMcGriskin)
	push = group Kvasir
	push = +force group user/Cian McGriskin (CianMcGriskin)
	pushMerge = group Kvasir
	pushMerge = group user/Cian McGriskin (CianMcGriskin)
	read = group Kvasir
	read = group user/Cian McGriskin (CianMcGriskin)
[access "refs/tags/*"]
	push = group Kvasir
	push = group user/Cian McGriskin (CianMcGriskin)
	push = +force group user/Cian McGriskin (CianMcGriskin)
