// Define common variables
$primary-color: #007bff;
$text-color: #fff;
$background-color: #121212; 
$button-hover-color: #0056b3;
$button-radius: 5px;

ion-toolbar {
  text-align: center;
  background-color: $primary-color;
  color: $text-color;
}

ion-title {
  font-size: 1.5rem;
  font-weight: bold; 
}

ion-button {
  background: $primary-color;
  color: $text-color;
  margin: 2% auto;
  display: block;
  width: 50%;
  border-radius: $button-radius;
  transition: background-color 0.3s ease; 
  &:hover {
    background: $button-hover-color;
  }
}

.spacer-button {
    flex: 1;
    cursor: default;
    pointer-events: none;
    width: auto;
    padding: 0 16px;
  }
  
  .logout-button {
    width: auto;
    padding: 0 16px;
  }