ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 16px;
    --padding-bottom: 16px;
  }
  ion-input {
    --padding-start: 8px; 
    --border-radius: 4px;
  }
  
  ion-item {
    --border-radius: 4px; 
    margin-bottom: 8px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  }
  
  .error-message {
    color: #ff4961; 
    font-size: 0.75rem; 
    padding-left: 16px; 
    margin-top: -6px; 
  }
