<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>database</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="videos && videos.length > 0">
    <ion-item *ngFor="let video of videos">
      {{ extractFileName(video.Key) }}
      <ion-button (click)="playVideo(video.Key)">Play Video</ion-button>
    </ion-item>
  </ion-list>

  <div class="video-container" >
    <video *ngIf="selectedVideoUrl" controls width="40%">
      <source [src]="selectedVideoUrl" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  

</ion-content>

