<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="videos && videos.length > 0">
    <ion-item *ngFor="let video of videos">
      {{ extractFileName(video.Key) }}
      <ion-button (click)="playVideo(video.Key)">Play Video</ion-button>
    </ion-item>
  </ion-list>

  <div *ngIf="selectedVideoUrl">
    <div class="video-container">

      <!-- Display Selected Video-->
      <video controls #videoPlayer width="40%">
        <source [src]="selectedVideoUrl" type="video/mp4">
        Your browser does not support the video tag.
      </video>

      

      <!-- Display Cropped images -->
      <!-- <swiper-container pager #slides >
          <swiper-slide *ngFor="let face of detectedFaces">
            <img [src]="face" alt="Face">
          </swiper-slide>
      </swiper-container> -->

      <ng-container *ngFor="let face of detectedFaces">
        <img [src]="face" alt="Face">
      </ng-container>

    </div>
    <!-- <div class="video-container">
      <ion-button (click)="detectFaces()">Detect Faces</ion-button>
    </div> -->

  </div>


</ion-content> 