<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="database">
        <ion-icon name="folder-open-outline"></ion-icon>
        Database
      </ion-tab-button>
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="livestream">
        <ion-icon name="tv-outline"></ion-icon>
        Live
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>