<ion-tabs>
  <ion-tab-bar slot="bottom" *ngIf="showTabs">
    <ion-tab-button tab="barred-list">
      <ion-icon name="alert-circle-outline"></ion-icon>
      Barred List
    </ion-tab-button>
    <ion-tab-button tab="database">
      <ion-icon name="folder-open-outline"></ion-icon>
      Videos
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="livestream">
      <ion-icon name="tv-outline"></ion-icon>
      Live
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>
